<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">

  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
      <label>Nom Parfum en tapant</label>
      <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control">
    </div>
  </form>


  <div class="card shadow mb-4">
    <div class="card-body">
      <table   class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Date Création</th>
            <th>Famille</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tbody *ngFor="let p of parfums | filter:searchTerm ">
            <td>{{p.idParfum}}</td>
            <td>{{p.nomParfum}}</td>
            <td>{{p.prixParfum}}</td>
            <td>{{p.dateCreation | date:'dd/MM/yyyy'}}</td>
            <td>{{p.famille.nomFam}}</td>
            <td>
              <a (click)="supprimerParfum(p)">
                <i class="fas fa-trash-alt" style="color: hsl(0, 100%, 73%); font-size: 30px;"></i>
              </a>
            </td>
            <td>
              <a class="btn btn-success btn-sm" [routerLink]="['/updateParfum', p.idParfum]">
                <i class="fas fa-pencil-alt" style="color: #e7ffe6;"></i>
              </a>
            </td>          
        
        </tbody>
      </table>
    </div>
  </div>
</div>
