<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <label class="form-label">Familles</label>
      <select class="form-control form-control-lg" id="idFam" name="idFam" [(ngModel)]="IdFamille" (change)="onChange()">
        <option *ngFor="let fam of familles" [value]="fam.idFam">{{fam.nomFam}}</option>
      </select>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div *ngIf="noPerfumesFound" class="text-center">
        <p style="font-size: 24px; font-weight: bold;">Aucun parfum trouvé dans cette famille.</p>
        <img style="height: 50%; width: 50%; display: block; margin: 0 auto;" src="./assets/image/mes_im/No_data.png" alt="Image de parfum non trouvé">
      </div>

      <table  *ngIf="!noPerfumesFound" class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Date Création</th>
            <th>Famille</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of parfums">
            <td>{{p.idParfum}}</td>
            <td>{{p.nomParfum}}</td>
            <td>{{p.prixParfum}}</td>
            <td>{{p.dateCreation | date:'dd/MM/yyyy'}}</td>
            <td>{{p.famille.nomFam}}</td>
            <td>
              <a (click)="supprimerParfum(p)">
                <i class="fas fa-trash-alt" style="color: hsl(0, 100%, 73%); font-size: 30px;"></i>
              </a>
            </td>
            <td>
              <a class="btn btn-success btn-sm" [routerLink]="['/updateParfum', p.idParfum]">
                <i class="fas fa-pencil-alt" style="color: #e7ffe6;"></i>
              </a>
            </td>          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
